<div class="landing-container">
    <div class="landing-title">
        <h2>Challenge Description</h2>
    </div>
    <div class="landing-content-container">
        <mat-card>
            <mat-card-content>
                <p>This is the challenge application for the full stack position at BASF. The description of the
                    challenge is teh following:</p>
                <p>Challenge: Build a Full-Stack Web Application</p>

                <p>Your task is to build a full-stack web application that allows users to create, read, update and
                    delete items from a list. The application should consist of two parts: a back-end API and a
                    front-end user interface.</p>

                <p>Back-end API</p>

                <p>The back-end API should be built using Java and Spring Boot. It should provide the following
                    endpoints:</p>

                <p>GET /items: Returns a list of all items.<br>
                    GET /items/:id: Returns the item with the specified ID.<br>
                    POST /items: Creates a new item.<br>
                    PUT /items/:id: Updates an existing item with the specified ID.<br>
                    DELETE /items/:id: Deletes the item with the specified ID.<br>
                    Each item should have the following attributes:</p>

                <p>id: A unique identifier for the item.<br>
                    name: The name of the item.<br>
                    description: A description of the item.<br>
                    The API should store data in a PostgreSQL database. Use Docker Compose to spin up the database
                    instance.</p>

                <p>Front-end User Interface</p>

                <p>The front-end user interface should be built using Angular and TypeScript. It should allow users
                    to:</p>

                <p>View a list of all items.<br>
                    View the details of a specific item.<br>
                    Create a new item.<br>
                    Update an existing item.<br>
                    Delete an existing item.<br>
                    The user interface should use Bootstrap or Material Design for styling.</p>

                <p>Deliverables</p>

                <p>Your solution should include:</p>

                <p>Source code for the back-end API and front-end user interface.<br>
                    A Docker Compose file that spins up the entire application (API, database, and user interface).<br>
                    Instructions on how to build and run the application.</p>

                <p>Please click on Item List on the left panel to go to the challenge</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

